@font-face {
    font-family: "monkey";
    src: url('HappyMonkey-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    font-family: 'monkey';
}

h1 {
    color: white;
    margin: 0;
    margin-top: 2%;
}

h1:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.scores-container {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

h2 {
    color: white;
}

.start-container {
    display: none;
}

.start-container.active {
    border: 1px solid black;
    width: 70%;
    aspect-ratio: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2%;
}

#start_game_btn {
    border: none;
    aspect-ratio: 3;
    width: 20%;
    font-family: 'monkey';
    font-size: 3rem;
    background-color: transparent;
}

#start_game_btn:hover {
    cursor: pointer;
    font-size: 3.2rem;
}

.main-container {
    display: none;
}

.main-container.active {
    border: 1px solid black;
    width: 70%;
    aspect-ratio: 2;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;    
    margin-bottom: 2%;
}

.standard-button {
    position: relative;
    width: 10%;
    height: 15%;
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    border-radius: 5px;
}


.standard-button.active {
    background-color: rgba(0, 102, 255, 0.904);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.standard-button.active:hover {
    transform: scale(1.05);
}

.end-container {
    display: none;
}

.end-container.active {
    border: 1px solid black;
    width: 70%;
    aspect-ratio: 2;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;    
    margin-bottom: 2%;
    font-size: 5rem;
}

#restart-btn {
    border: none;
    aspect-ratio: 3;
    width: 20%;
    font-family: 'monkey';
    font-size: 3rem;
    background-color: transparent;
}

#restart-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

