body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

h1 {
    color: white;
    margin: 0;
}

.start-container {
    display: none;
}

.start-container.active {
    border: 1px solid black;
    width: 90%;
    aspect-ratio: 2;
    background-color: white;
    display: block;
}

.main-container {
    display: none;
}

.main-container.active {
    border: 1px solid black;
    width: 90%;
    aspect-ratio: 2;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;    
}

.standard-button {
    position: relative;
    width: 10%;
    height: 15%;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.standard-button:hover {
    background-color: blue;
    cursor: pointer;
}

.standard-button.active {
    background-color: blue;
    cursor: pointer;
}


